<template>
  <div class="choosebg">
      <p class="title">
          <span v-show="isshow">选择角色</span>
          <span v-show="!isshow">选5件心仪好物<br/>并记住他们</span>
      </p>
      <div v-show="isshow">
          <div class="choose">
            <img v-show="role == 'Male'"  src="../../static/img/v/male.png" alt="">
            <img v-show="role != 'Male'" @click="choose('Male')" src="../../static/img/v/male-n.png" alt="">
            <img v-show="role != 'Male'"  src="../../static/img/v/female.png" alt="">
            <img v-show="role == 'Male'" @click="choose('Female')" src="../../static/img/v/female-n.png" alt="">
          </div>
          <img class="next" @click="goNext()" src="../../static/img/v/next.png" alt="">
      </div>
      <div v-show="!isshow">
          <div class="box">
              <div class="Rank">
                    <div ref="scorllRank" class="scorllRank">
                        <div class="content" ref="content">
                            <div class="goodsBox" @click="isCheck(item.ischeck,index)" v-for="(item,index) in goodsList" :key="item.Id">
                                <div class="goodsImg">
                                    &nbsp;&nbsp;&nbsp;
                                    <img class="goods" :src="item.img" alt="">
                                    <img  v-show="item.ischeck" class="check" src="../../static/img/v/check.png" alt="">
                                </div>
                                <p>{{item.CommodityName}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="scrollbg" ref="scrollbg">
                        <div class="bar"  ref="bar"></div>
                    </div>
                </div>
                <img @click="createList()" class="createlist" src="../../static/img/v/createlist.png" alt="">
          </div>
         
      </div>
      <div class="popup" v-if="showpop">
          <div class="popmain"  @click.stop>
              <img class="yxgz" src="../../static/img/v/yxgz.png" alt="">
              <img class="gif" src="../../static/img/v/1.gif" alt="">
              <img class="startbtn" @click="closePop(1)" src="../../static/img/v/iknow.png" alt="">
          </div>
      </div>
      <div class="popup" v-show="isFive"  @click="closePop" >
          <div class="popmain"  @click.stop>
                <div class="alerttitle" v-show="checkNum > 5">
                    <span>购物车满了<br/>要换已选产品吗？</span>
                </div>
                 <div class="alerttitle" v-show="checkNum < 5">
                    <span>再来点<br/>购物车还差 <span class="f-30 c-red fs-italic">{{5 - checkNum}}</span> 件才能挑战</span>
                </div>
                <img  class="alert" src="../../static/img/alertbg.png" alt="">
                <img class="close"  @click="closePop" src="../../static/img/v/close.png" alt="">
          </div>
      </div>
  </div>
</template>

<script>
import {getCommodity} from '@/apis'
import BScroll from 'better-scroll'
let _xxx = -(170-(window.innerWidth/2) + 15)
let _yyy = -(400-(window.innerHeight/2) + 15)
let _GOODSLIST = [
    {
        CommodityName:'Anessa 金钻防晒露',
        name:'1',
        id:1,
        shopname:'shilla',
		x:_xxx + 2.5 + 1050 + 70,
		y:_yyy + 81.5 + 360 + 150,
		width:105,
		height:100,
		imgurl:"../../static/img/goods/1.png",
		visible:false
	},{
        CommodityName:'科颜氏高保湿面霜',
        name:'2',
        id:2,
        shopname:'shilla',
		x:_xxx + 2.5 + 1050 + 70,
		y:_yyy + 81.5 + 360 + 150,
		width:105,
		height:100,
		imgurl:"../../static/img/goods/2.png",
		visible:false
	},{
        CommodityName:'GoPro Hero 7',
        name:'3',
        id:3,
        shopname:'SPRINT',
		x:_xxx + 2.5 + 740 + 60,
		y:_yyy + 81.5 + 895 + 150,
		width:105,
		height:100,
		imgurl:"../../static/img/goods/3.png",
		visible:false
	},{
        CommodityName:'Bose博士音响',
        name:'4',
        id:4,
        shopname:'SPRINT',
		x:_xxx + 2.5 + 740 + 60,
		y:_yyy + 81.5 + 895 + 150,
		width:105,
		height:100,
		imgurl:"../../static/img/goods/4.png",
		visible:true
	},{
        CommodityName:'Mogics 旅行排插',
        name:'5',
        id:5,
        shopname:'SPRINT',
		x:_xxx + 2.5 + 740 + 60,
		y:_yyy + 81.5 + 895 + 150,
		width:105,
		height:100,
		imgurl:"../../static/img/goods/5.png",
		visible:true
	},{
        CommodityName:'Benedictine D.O.M法国廊酒1.0公升装',
        name:'6',
        id:6,
        shopname:'DFS',
		x:_xxx + 2.5 + 1740 + 80,
		y:_yyy + 81.5 + 625 + 150,
		width:105,
		height:100,
		imgurl:"../../static/img/goods/6.png",
		visible:true
	},{
        CommodityName:'精选葡萄酒Asti DOCG Dolce Vintage',
        name:'7',
        id:7,
        shopname:'DFS',
		x:_xxx + 2.5 + 1740 + 80,
		y:_yyy + 81.5 + 625 + 150,
		width:105,
		height:100,
		imgurl:"../../static/img/goods/7.png",
		visible:true
	},{
        CommodityName:'SK-II 护肤精华露',
        name:'8',
        id:8,
        shopname:'shilla',
		x:_xxx + 2.5 + 1050 + 70,
		y:_yyy + 81.5 + 360 + 150,
		width:105,
		height:100,
		imgurl:"../../static/img/goods/8.png",
		visible:true
	},{
        CommodityName:'阿玛尼臻致丝绒哑光唇釉',
        name:'9',
        id:9,
        shopname:'shilla',
		x:_xxx + 2.5 + 1050 + 70,
		y:_yyy + 81.5 + 360 + 150,
		width:105,
		height:100,
		imgurl:"../../static/img/goods/9.png",
		visible:true
	},{
        CommodityName:'娇兰帝皇蜂姿紧致柔润日霜',
        name:'10',
        id:10,
        shopname:'shilla',
		x:_xxx + 2.5 + 1050 + 70,
		y:_yyy + 81.5 + 360 + 150,
		width:105,
		height:100,
		imgurl:"../../static/img/goods/10.png",
		visible:true
	},{
        CommodityName:'YSL 莹亮纯魅唇膏',
        name:'11',
        id:11,
        shopname:'shilla',
		x:_xxx + 2.5 + 1050 + 70,
		y:_yyy + 81.5 + 360 + 150,
		width:105,
		height:100,
		imgurl:"../../static/img/goods/11.png",
		visible:true
	},{
        CommodityName:'黛珂牛油果乳液',
        name:'12',
        id:12,
        shopname:'shilla',
		x:_xxx + 2.5 + 1050 + 70,
		y:_yyy + 81.5 + 360 + 150,
		width:105,
		height:100,
		imgurl:"../../static/img/goods/12.png",
		visible:true
	},{
        CommodityName:'兰蔻新眼部精华肌底液',
        name:'13',
        id:13,
        shopname:'shilla',
		x:_xxx + 2.5 + 1050 + 70,
		y:_yyy + 81.5 + 360 + 150,
		width:105,
		height:100,
		imgurl:"../../static/img/goods/13.png",
		visible:true
	},{
        CommodityName:'SK-II护肤面膜',
        name:'14',
        id:14,
        shopname:'shilla',
		x:_xxx + 2.5 + 1050 + 70,
		y:_yyy + 81.5 + 360 + 150,
		width:105,
		height:100,
		imgurl:"../../static/img/goods/14.png",
		visible:true
	},{
        CommodityName:'雅诗兰黛 特润修护肌透精华露',
        name:'15',
        id:15,
        shopname:'shilla',
		x:_xxx + 2.5 + 1050 + 70,
		y:_yyy + 81.5 + 360 + 150,
		width:105,
		height:100,
		imgurl:"../../static/img/goods/15.png",
		visible:true
	},{
        CommodityName:'雅萌HRF10TNANV RF射频再生美容仪',
        name:'16',
        id:16,
        shopname:'SPRINT',
		x:_xxx + 2.5 + 740 + 60,
		y:_yyy + 81.5 + 895 + 150,
		width:105,
		height:100,
		imgurl:"../../static/img/goods/16.png",
		visible:true
	},{
        CommodityName:'祖·玛珑馥郁果香旅行3件套',
        name:'17',
        id:17,
        shopname:'JoMalone',
		x:_xxx + 2.5 + 690 + 60,
		y:_yyy + 81.5 + 360 + 200,
		width:105,
		height:100,
		imgurl:"../../static/img/goods/17.png",
		visible:true
	},{
        CommodityName:'CHARLES AND KEITH经典剑桥包',
        name:'18',
        id:18,
        shopname:'CHARLESANDKEITH',
		x:_xxx + 2.5 + 1050 + 140,
		y:_yyy + 81.5 + 1145 + 110,
		width:105,
		height:100,
		imgurl:"../../static/img/goods/18.png",
		visible:true
	},{
        CommodityName:'Swarovski跳动的心项链',
        name:'19',
        id:19,
        shopname:'Swarovski',
		x:_xxx + 2.5 + 1225 + 140,
		y:_yyy + 81.5 + 1495 + 170,
		width:105,
		height:100,
		imgurl:"../../static/img/goods/19.png",
		visible:true
	},{
        CommodityName:'FISH SKIN',
        name:'20',
        id:20,
        shopname:'irvins',
		x:_xxx + 2.5 + 1050 + 80,
		y:_yyy + 81.5 + 895 + 150,
		width:105,
		height:100,
		imgurl:"../../static/img/goods/20.png",
		visible:true
	},{
        CommodityName:'咖椰鱼尾狮巧克力',
        name:'21',
        id:21,
        shopname:'THECOCOATREES',
		x:_xxx + 2.5 + 570 + 100,
		y:_yyy + 81.5 + 1420 + 240,
		width:105,
		height:100,
		imgurl:"../../static/img/goods/21.png",
		visible:true
	},{
        CommodityName:'切片肉干',
        name:'22',
        id:22,
        shopname:'BEECHENGHIANG',
		x:_xxx + 2.5 + 360 + 70,
		y:_yyy + 81.5 + 360 + 150,
		width:105,
		height:100,
		imgurl:"../../static/img/goods/22.png",
		visible:true
	},{
        CommodityName:'斑兰戚风蛋糕',
        name:'23',
        id:23,
        shopname:'BENGAWANSOLO',
		x:_xxx + 2.5 + 330 + 70,
		y:_yyy + 81.5 + 840 + 220,
		width:105,
		height:100,
		imgurl:"../../static/img/goods/23.png",
		visible:true
	},{
        CommodityName:'宝宝Mer Mer鱼尾狮公仔蓝',
        name:'24',
        id:24,
        shopname:'DiscoverSingapore',
		x:_xxx + 2.5 + 380 + 120,
		y:_yyy + 81.5 + 1365 + 300,
		width:105,
		height:100,
		imgurl:"../../static/img/goods/24.png",
		visible:true
	},{
        CommodityName:'Tiger Balm虎标万金油软膏',
        name:'25',
        id:25,
        shopname:'Waston',
		x:_xxx + 2.5 + 1050 + 100,
		y:_yyy + 81.5 + 1495 + 170,
		width:105,
		height:100,
		imgurl:"../../static/img/goods/25.png",
		visible:true
	},{
        CommodityName:'冻干榴莲王',
        name:'26',
        id:26,
        shopname:'Fragrance',
		x:_xxx + 2.5 + 210 + 80,
		y:_yyy + 81.5 + 1130 + 140,
		width:105,
		height:100,
		imgurl:"../../static/img/goods/26.png",
		visible:true
	},{
        CommodityName:'AirPods',
        name:'27',
        id:27,
        shopname:'iStudio',
		 x:_xxx + 2.5 + 510 + 60,
		y:_yyy + 81.5 + 660 + 135,
		width:105,
		height:100,
		imgurl:"../../static/img/goods/27.png",
		visible:true
	},{
        CommodityName:'Godiva金装巧克力礼盒',
        name:'28',
        id:28,
        shopname:'Godiva',
		x:_xxx + 2.5 + 1615 + 100,
		y:_yyy + 81.5 + 900 + 170,
		width:105,
		height:100,
		imgurl:"../../static/img/goods/28.png",
		visible:true
	},{
        CommodityName:'余仁生上等冰糖燕窝',
        name:'29',
        id:29,
        shopname:'EuYanSang',
		x:_xxx + 2.5 + 855 + 70,
		y:_yyy + 81.5 + 360 + 200,
		width:105,
		height:100,
		imgurl:"../../static/img/goods/29.png",
		visible:true
	},{
        CommodityName:'TWG TEA幸运星茶组',
        name:'30',
        id:30,
        shopname:'TWG',
		x:_xxx + 2.5 + 575 + 80,
		y:_yyy + 81.5 + 1130 + 200,
		width:105,
		height:100,
		imgurl:"../../static/img/goods/30.png",
		visible:true
	}
]
export default {
  components: {},
  props: {},
  data() {
    return {
        showpop:true,
        role:"Male",
        isshow:true,
        isFive:false,
        goodsList:[{
            Id : 30,
            CommodityName : 'TWG TEA幸运星茶组',
            Sex : "Male",
            Shop : 'TWG',
            ischeck:false
        }],
        checkNum:0,//表示用户选择了几个商品
        gameList:[]
    };
  },
  created() {},
  mounted() {
     gtag('config', 'UA-146234417-1', {   'page_title': 'isc_pv3', }); 
     gtag('config', 'UA-146234417-1', {   'page_title': 'isc_pv4', });  
  },
  methods: {
      goNext(){
          this.$dialog.loading.open();
          getCommodity(this.role).then(res =>{
              this.$dialog.loading.close();
              this.isshow = false
              this.goodsList = this.goodsList.concat(res.data.data)
              //固定必出现的商品在数组中的第三个
              let t = this.goodsList[2]
              this.goodsList[2] = this.goodsList[0]
              this.goodsList[0] = t
              console.log(this.goodsList)
              this.goodsList.forEach(item =>{
                  item.img = `../../static/img/good/${item.Id}.png`
                  item.ischeck = false
              })
              this.initScorll()
          })
          gtag('config', 'UA-146234417-1', {   'page_title': 'isc_pv5', }); 
      },
      initScorll(){
            this.$nextTick(() => {
                let barH = this.$refs.scrollbg.offsetHeight - this.$refs.bar.offsetHeight;//bar一共要滚动的距离
                let scrollH = this.$refs.content.offsetHeight - this.$refs.scorllRank.offsetHeight;//里面内容一共要滚动的距离
                let abs = scrollH / barH
                this.itemScroll = new BScroll(this.$refs.scorllRank, {
                    probeType: 3,//允许实时监听 scroll
                    freeScroll: true,
                    scrollX:true,
                    click: true,
                    useTransition:false,  // 防止iphone微信滑动卡顿
                    bounce:false,//当滚动超过边缘的时候会有一小段回弹动画。设置为 true 则开启动画。
                    tap:true
                })
                this.itemScroll.on('scroll', pos => {
                    let scrollY = Math.abs(Math.floor(pos.y))
                    this.$refs.bar.style.marginTop = `${scrollY / abs}px`

                }) 
                
            })
        }, 
     isCheck(check,index){    
             let c = !check
            this.goodsList.forEach((item,ind) =>{
                  if(ind == index){
                      item.ischeck = c
                  }
            })
            this.checkNum = 0
            this.goodsList.forEach(item =>{
                if(item.ischeck == true){
                    this.checkNum ++
                }
            })
            if(this.checkNum > 5){
                this.isFive = true
                gtag('config', 'UA-146234417-1', {   'page_title': 'isc_pv7', }); 
            }
            this.$forceUpdate();
      },
      closePop(flag){
          if(flag == 1){
              gtag('event', 'noted', {'event_category': 'isc','event_label': 'click'});
          }
          this.showpop = false
          this.isFive = false
      },
      choose(role){
          this.role = role
          if(this.role == "Female"){
              gtag('event', 'female', {'event_category': 'isc','event_label': 'click'});

              this.goodsList = [{
                Id : 29,
                CommodityName : '余仁生上等冰糖燕窝',
                Sex : "Female",
                Shop : 'EuYanSang',
                ischeck:false
            }]  
          }else{
              gtag('event', 'male', {'event_category': 'isc','event_label': 'click'});
              this.goodsList = [{
                Id : 30,
                CommodityName : 'TWG TEA幸运星茶组',
                Sex : "Male",
                Shop : 'TWG',
                ischeck:false
             }]
          }
      },
      //10个商品 visible == true 用户选择的5个商品 ischeck == true
      createList(){
          gtag('event', 'create', {'event_category': 'isc','event_label': 'click'});
          localStorage.setItem("role",this.role)
            if(this.checkNum != 5){
                this.isFive = true
                gtag('config', 'UA-146234417-1', {   'page_title': 'isc_pv6', }); 
            }else if(this.checkNum){
              _GOODSLIST.forEach(ITEM =>{
                  this.goodsList.forEach(item =>{
                      if(item.Id == ITEM.id){
                          ITEM.visible = true
                          if(item.ischeck){
                              ITEM.ischeck = true
                          }else{
                              ITEM.ischeck = false
                          }
                          this.gameList.push(ITEM)
                      }
                  })
              })
              console.log('chooose---' + this.gameList)
            document.getElementById('_bgm').play();
            localStorage.setItem("goodsList",JSON.stringify(this.gameList))
            this.$router.replace('/game')

          }
   
      }
  },
  watch: {},
  computed: {},
};
</script>
<style lang="less" scoped>
.gif{
    position: absolute;
    width: 80%;
    bottom: 0.5rem;
}
.next{
    width: 4rem;
    margin-top: 10px;
}
.title{
    text-align: center;
    font-size: 0.4rem;
    color: #56300b;
    font-weight: 700;
    margin: 0.5rem 0  0.2rem 0;
}
.choose{
    img{
        width: 100%;
        margin-bottom: 10px;
    }
}
.choosebg{
     width: 100%;
    height: 100%;
    overflow: hidden;
    background: url(../../static/img/v/iachievebg.png) top;
    background-size: cover;
    padding: 0 15px;
    text-align: center;
}
 
.box{
    width: 7rem;
    height: 8.5rem;
    background: url(../../static/img/v/boxbg.png) no-repeat;
    background-size: 100%  100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #56300b;
    position: relative;
    .createlist{
        width: 4rem;
        height: 0.9rem;
        position: absolute;
        bottom: -0.45rem;
        left: 50%;
        transform: translate(-50%)
    }
}
.Rank{
    width: 100%;
    margin-top: 0.5rem;
    .scorllRank{
        width: 90%;
        height: 7.5rem;
        overflow-y: hidden;
        float: left;
        padding-left: 0.5rem;
        .content{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .goodsBox{
                width: 49%;
                height: 2.1rem;
                font-size: 0.24rem;
                color: #6a6966;
                .goodsImg{
                    width:100%;
                    height: 1.25rem;
                    background: url(../../static/img/v/border.png) no-repeat;
                    background-size: 100% 100%;
                    margin-left: -5%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                    .goods{
                        width: 1.1rem;
                    }
                    .check{
                        position: absolute;
                        width: 0.6rem;
                        left: 0;
                        top: 0.3rem;
                    }
                }
                p{
                    margin-top: 0.1rem;
                    line-height: 0.26rem;
                }
            }
        }
    }
    .scrollbg{
        width: 10px;
        height: 7.5rem;
        background: #f9efd8;
        float: left;
        margin-left: 10px;
        border-radius: 6px;
        .bar{
            width: 100%;
            height: 1rem;
            background: #fec532;
            border-radius: 6px;
        }
    }
}
</style>