<template>
  <div id="gameBox">
      <div class="fixedTime">
          <div class="countbg">
              <img src="../../static/img/v/timeicon.png" alt="">
              {{minute}}:{{seconds}}
         </div>
          <div class="countbg" id="touch">
              <img src="../../static/img/v/shopicon.png" alt="">
              {{goodsCount}}&nbsp;/&nbsp;5
          </div>
      </div>
     <div class="fixedmusic" @click="closeBGM()">
        <img v-show="isplay" class="play" src="../../static/mp3/play.png" alt="">
        <img v-show="!isplay" class="close" src="../../static/mp3/close.png" alt="">
      </div>
      <div v-if="isLoading" ref="hLoading" class="hLoading">
          <img v-show="loading == 1" class="loading-1" src="../../static/img/loading/loading-1.png" alt="">
          <img v-show="loading == 2" class="loading-1" src="../../static/img/loading/loading-2.png" alt="">
          <div class="processbg">
              <div ref="bar" class="bar"></div>
          </div>
          <br/>
          Loading... 
      </div>
      <div class="hLoading" v-show="timeover || isSuccess" ref="pop" style="background:rgba(0,0,0,0.8)">
          <div class="popmain" v-if="timeover">
              <img class="gohome" @click="goHome()" src="../../static/img/gohome.png" alt="">
              <img class="jiantou" src="../../static/img/jiantou.png" alt="">
              <span class="c-000 f-20">哎呀，时间到了<br/>回首页再试一次吧！ </span>
              <br>
              <div class="icpop">
                  <p>CHANGIRACE10</p>
              </div>
              <br>
              <span class="c-000">去樟宜我爱购线上免税购物<br/><span class="c-red">省时省力还省心</span></span>
              
              <img class="startbtn"  @click="goshop(1)" src="../../static/img/v/goshop.png" alt="">
          </div>
           <div class="popmain" v-if="isSuccess">
              <img class="gohome" @click="goHome()" src="../../static/img/gohome.png" alt="">
              <img class="jiantou" src="../../static/img/jiantou.png" alt="">
              <span class="c-000 f-18">用时&nbsp;&nbsp;<span class="fs-italic c-red f-30">{{minute}}:{{seconds}}</span></span>
              <span class="c-000 f-18">每周手速前10的玩家才有好礼<br/>回首页，向TOP10冲击吧！ </span>
              <span style="font-weight: 400;" class="c-000">中奖名单将公布于樟宜机场官方微信</span>
              <span class="goOut" @click="showQrcode(true)">立即关注</span>
              <div class="icpop" style="width:4.5rem;height:1.5rem;">
                  <p class="f-12">CHANGIRACE10</p>
              </div>
              <span style="font-weight: 400;" class="c-000 f-10">优惠券已经放入首页-我的成绩，要用哦</span>
              
              <img class="startbtn" @click="goshop(2)" src="../../static/img/v/goshop.png" alt="">
              <div v-if="showQR" class="gamepopup" @click="showQrcode(false)">
                  <img @click.stop src="../../static/img/qrcode.png" alt="">
              </div>
          </div>
      </div>
      <audio  id="_correct"  src="../../static/mp3/correct.WAV">
      您的浏览器不支持 audio 标签。</audio>
      <audio  id="_error"  src="../../static/mp3/error.WAV">
      您的浏览器不支持 audio 标签。</audio>
  
  </div>
</template>

<script>

let app,b,oldp,otherList,ww,wh,bg,flowContainer,fixedContainer,role,center,_bottom,_left,_right,_top,sun,count,_circle
,role_left,role_right,role_top,role_bottom,CLOCKTimer,_plus,sub,ishop,libin,talk;
let pointDown = ''
let flowArray = []
import {SAVE} from '@/apis'

export default {
  data() {
    return {
        minute:'00',
        totalSeconds:0,
        seconds:'00',
        loading:1,
        isLoading:true,
        goodsCount:0,
        role:localStorage.getItem("role"),
        goodsList:JSON.parse(localStorage.getItem("goodsList")),
        xxx:-(170-(window.innerWidth/2) + 15),
        yyy:-(400-(window.innerHeight/2) + 15),
        timeover:false,
        isSuccess:false,
        userInfo:JSON.parse(localStorage.getItem("userInfo")),
        userCheck:'',
        showQR:false,
        isplay:true,
        isclick:''
    };
  },
  created() {
    pointDown = ''
    gtag('config', 'UA-146234417-1', {   'page_title': 'isc_pv8', }); 
  },
  mounted() {
    console.log(this.goodsList)
    this.goodsList.forEach(item =>{
        if(item.ischeck){
            this.userCheck = this.userCheck + item.CommodityName + ','
        }
    })
    console.log('=====' + this.userCheck)
    this.initShop()
    this.initLoading()
    this.$nextTick(()=>{ 
        
        this.$refs.pop.style.width = wh + 'px'
        this.$refs.pop.style.height = ww + 'px'
        this.$refs.pop.style.left = `${ww}px`
        app = new PIXI.Application({
            backgroundColor: 0xffca36,
            resolution:2
        });
        b = new Bump(PIXI);
        document.getElementById("gameBox").appendChild(app.view);
        flowContainer = new PIXI.Container();
        fixedContainer = new PIXI.Container();
        app.stage.addChild(flowContainer,fixedContainer);   
        app.renderer.view.style.position = "absolute";
        app.renderer.view.style.display = "block";
        app.renderer.autoResize = true;
        app.renderer.resize(window.innerWidth, window.innerHeight);   
        this.setup()     
      })
      
  },
  methods: {
        initLoading(){
             //  横屏
            this.$nextTick(()=>{
                ww = document.body.offsetWidth;
                wh = document.body.offsetHeight;
                if(this.$refs.hLoading && this.$refs.bar){
                    this.$refs.hLoading.style.width = wh + 'px'
                    this.$refs.hLoading.style.height = ww + 'px'
                    this.$refs.hLoading.style.marginLeft = `${ww}px`
                    let bar = 0;
                    let timer_loading = setInterval(()=>{
                        bar ++ 
                        this.$refs.bar.style.width = `${bar}%`
                        if(bar == 50){
                            this.loading = 2
                        }else if(bar == 99){
                            clearInterval(timer_loading)
                            this.isLoading = false
                            //开启定时器
                            this.startGame()
                        }
                    },50)
                }
            })
        },
        startGame(){
            CLOCKTimer = setInterval(()=>{
                this.totalSeconds ++ 
                this.minute = parseInt(this.totalSeconds / 60);
                if(this.minute < 1){
                    this.minute = '00'
                }else if(this.minute < 10){
                    this.minute = `0${this.minute}`
                }
                this.seconds = parseInt(this.totalSeconds % 60)
                if(this.seconds < 10){
                    this.seconds = `0${this.seconds}`
                }
            },1000)
        },
        // 创建sprite对象
        createSprite(name,opt){
            var newSprite = new PIXI.Sprite.fromImage(name);
            if (opt) {
                Object.getOwnPropertyNames(opt).forEach(function(value) {
                    newSprite[value] = opt[value];
                });
            }
            return newSprite;
        } ,
        setup(){
            /*主场景创建*/
            bg = this.createSprite("../../static/img/road2.png",{
                x:this.xxx,
                y:this.yyy,
                width:2200,
                height:2200
            });
            // 加5s
            _plus = this.createSprite("../../static/img/plus5s.png",{
                x:0,
                y:0,
                width:40,
                height:80,
                visible:false
            });
            // 减5s
            sub = this.createSprite("../../static/img/sub5s.png",{
                x:0,
                y:0,
                width:40,
                height:80,
                visible:false
            });

            flowContainer.addChild(bg)
            //人物（男） 前后左右
            role = this.createSprite("",{
                x: (window.innerWidth/2) - 10,
                y: (window.innerHeight/2) - 10,
                width:25,
                height:25,
                visible:true
            });
            //  console.log(this.role)
            if(this.role == "Male"){
                role_left = this.createSprite("../../static/img/role/bottom.png",{
                    x: role.x - 30,
                    y: role.y,
                    width:80,
                    height:30,
                    visible:false
                });
                role_right = this.createSprite("../../static/img/role/top.png",{
                    x: role.x - 30,
                    y: role.y,
                    width:80,
                    height:30,
                    visible:false
                });
                role_top = this.createSprite("../../static/img/role/left.png",{
                    x: role.x,
                    y: role.y - 30,
                    width:80,
                    height:80,
                    visible:false
                });
                role_bottom = this.createSprite("../../static/img/role/right.png",{
                    x: role.x,
                    y: role.y  - 30,
                    width:80,
                    height:90,
                    visible:true
                });
            }else{
                role_left = this.createSprite("../../static/img/role/bottom-f.png",{
                    x: role.x - 30,
                    y: role.y,
                    width:80,
                    height:30,
                    visible:false
                });
                role_right = this.createSprite("../../static/img/role/top-f.png",{
                    x: role.x - 30,
                    y: role.y,
                    width:80,
                    height:30,
                    visible:false
                });
                role_top = this.createSprite("../../static/img/role/left-f.png",{
                    x: role.x,
                    y: role.y - 30,
                    width:80,
                    height:80,
                    visible:false
                });
                role_bottom = this.createSprite("../../static/img/role/right-f.png",{
                    x: role.x,
                    y: role.y - 30,
                    width:80,
                    height:90,
                    visible:true
                });
            }
             
            //方向盘箭头
            _circle = this.createSprite("../../static/img/circle.png",{
                x:10,
                y:window.innerHeight - 170,
                width:160,
                height:160,
                buttonMode:true,
                interactive:true
            });
            _left = this.createSprite("../../static/img/left.png",{
                x:20,
                y:window.innerHeight - 115,
                width:50,
                height:50,
                buttonMode:true,
                interactive:true
            });
            _right = this.createSprite("../../static/img/right.png",{
                x:110,
                y:window.innerHeight - 115,
                width:50,
                height:50,
                buttonMode:true,
                interactive:true
            });
            _top = this.createSprite("../../static/img/top.png",{
                x:65,
                y:window.innerHeight - 160,
                width:50,
                height:50,
                buttonMode:true,
                interactive:true
            });
             _bottom = this.createSprite("../../static/img/bottom.png",{
                x:65,
                y:window.innerHeight - 70,
                width:50,
                height:50,
                buttonMode:true,
                interactive:true
            }); 

            ishop = this.createSprite("../../static/img/other/ishop.png",{
                x:this.xxx + 2.5 + 1235,
                y:this.yyy + 81.5 +  365,
                width:140,
                height:200,
                buttonMode:true,
                interactive:true,
                name:'ishop'
            });
            talk = this.createSprite("../../static/img/other/talk.png",{
                 x:this.xxx + 2.5 + 1235 + 40,
                y:this.yyy + 81.5 +  365 + 135,
                width:60,
                height:160,
                buttonMode:true,
                interactive:true,
                name:'talk'
            })
            libin = this.createSprite("../../static/img/other/libin.png",{
                x:this.xxx + 2.5 + 1510,
		        y:this.yyy + 81.5 + 1285,
                width:140,
                height:200,
                buttonMode:true,
                interactive:true,
                name:'libin'
            })
            ishop.on('pointertap',(event) => {
                this.minTime(event)
            }) 
            talk.on('pointertap',(event) => {
                this.minTime(event)
            }) 
            libin.on('pointertap',(event) => {
                this.minTime(event)
            }) 
            flowArray.push(ishop)//能够碰撞的物体
            flowContainer.addChild(ishop) //将ishop加到场景中       

            otherList.forEach(other =>{
                other.name = this.createSprite(other.imgurl,{
                    x:other.x,
                    y:other.y,
                    width:other.width,
                    height:other.height,
                });
                //能够滚动的元素
                flowArray.push(other.name)//能够碰撞的物体
                flowContainer.addChild(other.name)  
            })
            flowContainer.addChild(libin,talk) //将礼宾和ishop对话框添加到场景中

            this.goodsList.forEach(goods =>{
                goods.name = this.createSprite(goods.imgurl,{
                    x:goods.x,
                    y:goods.y,
                    width:goods.width,
                    height:goods.height,
                    name:goods.name,
                    id:goods.id,
                    ischeck:goods.ischeck,
                    shopname:goods.shopname,
                    visible:goods.visible,
                    buttonMode:true,
                    interactive:true
                });
                //能够滚动的元素
                goods.name.on('pointertap',(event) => {
                    this.onClick(event)
                })                         
                //flowArray.push(other.name)//能够碰撞的物体
                flowContainer.addChild(goods.name)  
            })
            // console.log(flowContainer)
    
            //固定不动的元素
            fixedContainer.addChild(_circle,_top,_left,_right,_bottom,role,role_left,role_right,role_top,role_bottom)
           
           //用户移动事件（前后左右）
            _top.on('pointerdown',(event) => {this.onTopDown("top",event)})
            _left.on('pointerdown',(event) => {this.onTopDown("left",event)})
            _right.on('pointerdown',(event) => {this.onTopDown("right",event)})
            _bottom.on('pointerdown',(event) => {this.onTopDown("bottom",event)})
            //pointercancel 解决部分安卓机 检测不到 pointerup 事件
            _top.on('pointercancel',this.onPointUp)
            _left.on('pointercancel',this.onPointUp)
            _bottom.on('pointercancel',this.onPointUp)
            _right.on('pointercancel',this.onPointUp)
             _top.on('pointerup',this.onPointUp)
            _left.on('pointerup',this.onPointUp)
            _bottom.on('pointerup',this.onPointUp)
            _right.on('pointerup',this.onPointUp)
        },
        //用户手指按下 角色移动
        onTopDown(param){
            //如果没发生碰撞 就继续移动 
            this.moveBg(param) 
            // console.log(role.x,role.y)
        },	
        //角色移动
        moveBg(param){ 
            let _this = this
           
            aa()
            
            function aa(){ 
                window.cancelAnimationFrame(pointDown)
                pointDown = window.requestAnimationFrame(aa);
                b.hit(role,flowArray,true,true,true,
                function (collision, platform) {
                    role_top.x = role.x
                    role_top.y = role.y - 30
                    role_bottom.x = role.x
                    role_bottom.y = role.y - 30
                    role_left.x = role.x - 30
                    role_left.y = role.y
                    role_right.x = role.x - 30
                    role_right.y = role.y
                    //collision 表示 sprite 的哪一边发生碰撞
                    //platform 表示 sprite 正在碰撞的精灵组中的精灵  
                    oldp = collision 
                });
                if(param != oldp){  
                    oldp = ''
                    role.x = (window.innerWidth/2) - 10;
                    role.y = (window.innerHeight/2) - 10
                    if(param == 'top' && flowContainer.y < 0){
                        console.log("按下---" + param)
                        role_top.visible = true
                        role_bottom.visible = false
                        role_left.visible = false
                        role_right.visible = false
                        flowContainer.y += 6
                    }else if(param == 'bottom' && flowContainer.y > -1375){
                        console.log("按下---" + param)
                        role_bottom.visible = true
                        role_left.visible = false
                        role_right.visible = false
                        role_top.visible = false
                        flowContainer.y -= 6
                    }else if(param == 'left'  && flowContainer.x < 0){
                        console.log("按下---" + param)
                        role_left.visible = true
                        role_bottom.visible = false
                        role_right.visible = false
                        role_top.visible = false
                        flowContainer.x += 6
                    }else if(param == 'right' && flowContainer.x > -1745){
                        console.log("按下---" + param)
                        role_right.visible = true
                        role_bottom.visible = false
                        role_left.visible = false
                        role_top.visible = false
                        flowContainer.x -= 6
                    }else{
                        _this.onPointUp()
                    }  
                }else{
                    _this.onPointUp()
                }
            }
           
        },
        onPointUp(e){
            console.log("抬起")
            //用户手指抬起 取消角色移动
            window.cancelAnimationFrame(pointDown)
        },
        //用户点击商品 点错商品加时间 点对商品 个数 + 1
        onClick(e){
              
              if(this.isclick != e.target.id){
                    console.log(e)
                    e.target.visible = false//隐藏商品
                    if(e.target.ischeck){  
                        this.goodsCount ++ //用户选择正确
                        document.getElementById('_correct').play();
                    }else{
                        document.getElementById('_error').play();
                        //用户选择失败
                        _plus.x = e.target.x + 60
                        _plus.y = e.target.y + 70
                        _plus.visible = true
                        flowContainer.addChild(_plus)
                        let zt1 = 0
                        let plustimer = setInterval(()=>{
                            _plus.x ++ 
                            zt1 ++
                            if(zt1 == 40){
                                clearInterval(plustimer)
                                _plus.visible = false
                                this.totalSeconds = parseInt(this.totalSeconds) + 5 
                            }
                        },10)
                        console.log("点错了",_plus.visible)
                    }
                    this.isclick = e.target.id
              }
              
        },
        //减时间
        minTime(e){
            if(this.isclick != e.target.id){
                console.log(e)
                if(e.target.name ==  'libin' || e.target.name ==  'talk'){
                    document.getElementById('_correct').play();
                    sub.x = e.target.x + 60
                    sub.y = e.target.y + 70
                    sub.visible = true
                    e.target.visible = false
                    flowContainer.addChild(sub)
                    let zt = 0
                    let subtimer = setInterval(()=>{
                        sub.x ++ 
                        zt ++
                        if(zt == 40){
                            clearInterval(subtimer)
                            sub.visible = false   
                            this.totalSeconds = parseInt(this.totalSeconds) - 5 
                        }
                    },10)
                }else if(talk.visible){
                    document.getElementById('_correct').play();
                    sub.x = e.target.x + 60
                    sub.y = e.target.y + 70
                    sub.visible = true
                    flowContainer.addChild(sub)
                    let zt = 0
                    let subtimer2 = setInterval(()=>{
                        sub.x ++ 
                        zt ++
                        if(zt == 40){
                            clearInterval(subtimer2)
                            sub.visible = false
                            talk.visible = false
                            this.totalSeconds = parseInt(this.totalSeconds) - 5 
                        }
                    },10)
                }
                this.isclick = e.target.id
            }
            
            
        },
        initShop(){
            //商铺和一些摆设物品
            otherList = [
                //第一行
                {
                    name:'CHANG',
                    imgurl:"../../static/img/other/CHANG.png",
                    x:this.xxx + 2.5 + 210,
                    y:this.yyy + 81.5 + 360,
                    width:95,
                    height:246,    
                },
                {
                    name:'BEECHENGHIANG',
                    imgurl:"../../static/img/shop/BEECHENGHIANG.png",
                    x:this.xxx + 2.5 + 360,
                    y:this.yyy + 81.5 + 360,
                    width:143,
                    height:250,    
                },
                {
                    name:'rain',
                    imgurl:"../../static/img/other/rain.png",
                    x:this.xxx + 2.5 + 550,
                    y:this.yyy + 81.5 + 365,
                    width:90,
                    height:234,    
                },
                {
                    name:'JoMalone',
                    imgurl:"../../static/img/shop/JoMalone.png",
                    x:this.xxx + 2.5 + 690,
                    y:this.yyy + 81.5 + 360,
                    width:110,
                    height:250,    
                },
                {
                    name:'EuYanSang',
                    imgurl:"../../static/img/shop/EuYanSang.png",
                    x:this.xxx + 2.5 + 855,
                    y:this.yyy + 81.5 + 360,
                    width:140,
                    height:250,    
                },
                {
                    name:'shilla',
                    imgurl:"../../static/img/shop/shilla.png",
                    x:this.xxx + 2.5 + 1050,
                    y:this.yyy + 81.5 + 360,
                    width:140,
                    height:210,    
                },
                {
                    name:'garden1',
                    imgurl:"../../static/img/other/garden1.png",
                    x:this.xxx + 2.5 + 1435,
                    y:this.yyy + 81.5 +  365,
                    width:155,
                    height:205,    
                },
                {
                    name:'xingbake',
                    imgurl:"../../static/img/other/xingbake.png",
                    x:this.xxx + 2.5 + 1650,
                    y:this.yyy + 81.5 +  365,
                    width:250,
                    height:200,    
                },
                //第二行
                {
                    name:'statue',
                    imgurl:"../../static/img/other/statue.png",
                    x:this.xxx + 2.5 + 210,
                    y:this.yyy + 81.5 + 650,
                    width:255,
                    height:130,    
                },
                {
                    name:'iStudio',
                    imgurl:"../../static/img/shop/iStudio.png",
                    x:this.xxx + 2.5 + 510,
                    y:this.yyy + 81.5 + 660,
                    width:130,
                    height:170,    
                },
                {
                    name:'sunflower',
                    imgurl:"../../static/img/other/sunflower.png",
                    x:this.xxx + 2.5 + 695,
                    y:this.yyy + 81.5 + 665,
                    width:100,
                    height:174,    
                },
                {
                    name:'cocoa',
                    imgurl:"../../static/img/other/cocoa.png",
                    x:this.xxx + 2.5 + 860,
                    y:this.yyy + 81.5 + 665,
                    width:140,
                    height:174,    
                },
                {
                    name:'dove',
                    imgurl:"../../static/img/other/dove.png",
                    x:this.xxx + 2.5 + 1060,
                    y:this.yyy + 81.5 + 635,
                    width:125,
                    height:204,    
                },
                {
                    name:'sony',
                    imgurl:"../../static/img/other/sony.png",
                    x:this.xxx + 2.5 + 1235,
                    y:this.yyy + 81.5 + 625,
                    width:160,
                    height:210,    
                },
                {
                    name:'sony',
                    imgurl:"../../static/img/other/sony.png",
                    x:this.xxx + 2.5 + 1235,
                    y:this.yyy + 81.5 + 625,
                    width:160,
                    height:210,    
                },
                {
                    name:'childpark',
                    imgurl:"../../static/img/other/childpark.png",
                    x:this.xxx + 2.5 + 1460,
                    y:this.yyy + 81.5 + 625,
                    width:220,
                    height:220,    
                },
                {   
                    name:'DFS',
                    imgurl:"../../static/img/shop/DFS.png",
                    x:this.xxx + 2.5 + 1740,
                    y:this.yyy + 81.5 + 625,
                    width:160,
                    height:210,    
                },
                //第三行 
                {
                    name:'train2',
                    imgurl:"../../static/img/other/train2.png",
                    x:this.xxx + 2.5 + 210,
                    y:this.yyy + 81.5 + 840,
                    width:63,
                    height:236,    
                },
                {
                    name:'BENGAWANSOLO',
                    imgurl:"../../static/img/shop/BENGAWANSOLO.png",
                    x:this.xxx + 2.5 + 330,
                    y:this.yyy + 81.5 + 840,
                    width:125,
                    height:236,    
                },
                {
                    name:'slide',
                    imgurl:"../../static/img/other/slide.png",
                    x:this.xxx + 2.5 + 520,
                    y:this.yyy + 81.5 + 905,
                    width:165,
                    height:164,    
                }, 
                {
                    name:'SPRINT',
                    imgurl:"../../static/img/shop/SPRINT.png",
                    x:this.xxx + 2.5 + 740,
                    y:this.yyy + 81.5 + 895,
                    width:100,
                    height:170,    
                }, 
                {
                    name:'butterflygarden',
                    imgurl:"../../static/img/other/butterflygarden.png",
                    x:this.xxx + 2.5 + 885,
                    y:this.yyy + 81.5 + 895,
                    width:120,
                    height:200,    
                },
                {
                    name:'Irvins',
                    imgurl:"../../static/img/shop/Irvins.png",
                    x:this.xxx + 2.5 + 1050,
                    y:this.yyy + 81.5 + 895,
                    width:130,
                    height:210,    
                },
                {
                    name:'cactus',
                    imgurl:"../../static/img/other/cactus.png",
                    x:this.xxx + 2.5 + 1240,
                    y:this.yyy + 81.5 + 900,
                    width:135,
                    height:200,    
                },
                {
                    name:'MAC',
                    imgurl:"../../static/img/other/MAC.png",
                    x:this.xxx + 2.5 + 1430,
                    y:this.yyy + 81.5 + 900,
                    width:130,
                    height:200,    
                },
                {
                    name:'Godiva',
                    imgurl:"../../static/img/shop/Godiva.png",
                    x:this.xxx + 2.5 + 1615,
                    y:this.yyy + 81.5 + 900,
                    width:140,
                    height:200,    
                },
                {
                    name:'tumi',
                    imgurl:"../../static/img/other/tumi.png",
                    x:this.xxx + 2.5 + 1810,
                    y:this.yyy + 81.5 + 900,
                    width:90,
                    height:200,    
                },
                //第四行
                {
                    name:'Fragrance',
                    imgurl:"../../static/img/shop/Fragrance.png",
                    x:this.xxx + 2.5 + 210,
                    y:this.yyy + 81.5 + 1130,
                    width:115,
                    height:175,    
                },
                {
                    name:'fishpond',
                    imgurl:"../../static/img/other/fishpond.png",
                    x:this.xxx + 2.5 + 380,
                    y:this.yyy + 81.5 + 1140,
                    width:145,
                    height:164,    
                },
                {
                    name:'TWG',
                    imgurl:"../../static/img/shop/TWG.png",
                    x:this.xxx + 2.5 + 575,
                    y:this.yyy + 81.5 + 1130,
                    width:110,
                    height:240,    
                },
                {
                    name:'foodstreet',
                    imgurl:"../../static/img/other/foodstreet.png",
                    x:this.xxx + 2.5 + 745,
                    y:this.yyy + 81.5 + 1115,
                    width:90,
                    height:310,    
                },
                {
                    name:'orchid',
                    imgurl:"../../static/img/other/orchid.png",
                    x:this.xxx + 2.5 + 890,
                    y:this.yyy + 81.5 + 1160,
                    width:110,
                    height:164,    
                },
                {
                    name:'CHARLESANDKEITH',
                    imgurl:"../../static/img/shop/CHARLESANDKEITH.png",
                    x:this.xxx + 2.5 + 1050,
                    y:this.yyy + 81.5 + 1145,
                    width:180,
                    height:140,    
                },
                {
                    name:'free',
                    imgurl:"../../static/img/other/free.png",
                    x:this.xxx + 2.5 + 1285,
                    y:this.yyy + 81.5 + 1150,
                    width:200,
                    height:130,    
                },
                {
                    name:'minitoons',
                    imgurl:"../../static/img/other/minitoons.png",
                    x:this.xxx + 2.5 + 1545,
                    y:this.yyy + 81.5 + 1155,
                    width:130,
                    height:130,    
                },
                {
                    name:'airport',
                    imgurl:"../../static/img/other/airport.png",
                    x:this.xxx + 2.5 + 1740,
                    y:this.yyy + 81.5 + 1155,
                    width:150,
                    height:280,    
                },
                //第五行
                {
                    name:'7',
                    imgurl:"../../static/img/other/7.png",
                    x:this.xxx + 2.5 + 210,
                    y:this.yyy + 81.5 + 1365,
                    width:120,
                    height:130,    
                },
                {
                    name:'swimmingpool',
                    imgurl:"../../static/img/other/swimmingpool.png",
                    x:this.xxx + 2.5 + 1058,
                    y:this.yyy + 81.5 + 1345,
                    width:260,
                    height:100,    
                },
                {
                    name:'chair',
                    imgurl:"../../static/img/other/chair.png",
                    x:this.xxx + 2.5 + 1370,
                    y:this.yyy + 81.5 + 1335,
                    width:120,
                    height:110,    
                },
                {
                    name:'butterfly',
                    imgurl:"../../static/img/other/butterfly.png",
                    x:this.xxx + 2.5 + 1540,
                    y:this.yyy + 81.5 + 1335,
                    width:140,
                    height:110,    
                },
                //第六行
                {
                    name:'garden2',
                    imgurl:"../../static/img/other/garden2.png",
                    x:this.xxx + 2.5 + 210,
                    y:this.yyy + 81.5 + 1570,
                    width:125,
                    height:114,    
                },
                {
                    name:'DiscoverSingapore',
                    imgurl:"../../static/img/shop/DiscoverSingapore.png",
                    x:this.xxx + 2.5 + 380,
                    y:this.yyy + 81.5 + 1365,
                    width:150,
                    height:330,    
                },
                {
                    name:'THECOCOATREES',
                    imgurl:"../../static/img/shop/THECOCOATREES.png",
                    x:this.xxx + 2.5 + 570,
                    y:this.yyy + 81.5 + 1420,
                    width:120,
                    height:270,    
                },
                {
                    name:'CINEMA',
                    imgurl:"../../static/img/other/CINEMA.png",
                    x:this.xxx + 2.5 + 740,
                    y:this.yyy + 81.5 + 1485,
                    width:95,
                    height:210,    
                },
                {
                    name:'train1',
                    imgurl:"../../static/img/other/train1.png",
                    x:this.xxx + 2.5 + 890,
                    y:this.yyy + 81.5 + 1385,
                    width:100,
                    height:304,    
                }, 
                {
                    name:'Waston',
                    imgurl:"../../static/img/shop/Waston.png",
                    x:this.xxx + 2.5 + 1050,
                    y:this.yyy + 81.5 + 1495,
                    width:120,
                    height:200,    
                }, 
                {
                    name:'Swarovski',
                    imgurl:"../../static/img/shop/Swarovski.png",
                    x:this.xxx + 2.5 + 1225,
                    y:this.yyy + 81.5 + 1495,
                    width:190,
                    height:200,    
                }, 
                {
                    name:'VS',
                    imgurl:"../../static/img/other/VS.png",
                    x:this.xxx + 2.5 + 1465,
                    y:this.yyy + 81.5 + 1495,
                    width:210,
                    height:200,    
                }, 
                {
                    name:'traveler',
                    imgurl:"../../static/img/other/traveler.png",
                    x:this.xxx + 2.5 + 1725,
                    y:this.yyy + 81.5 + 1490,
                    width:170,
                    height:200,    
                },
            ]
        },
        goHome(){
            this.isplay = false
            document.getElementById('_bgm').pause();
            this.gameOver()
            this.$router.push("/home")
        },
        _save(param,glag){
            this.$dialog.loading.open();
            SAVE(param).then(res=>{
                this.$dialog.loading.close();
                if(glag == 'success'){
                    this.isSuccess = true
                }else{
                    this.timeover = true
                }
                console.log(res)
            })
        },
        goshop(falg){
            this.isplay = false
            document.getElementById('_bgm').pause();
            if(falg == 1){
                gtag('event', 'linkout_isc1', {'event_category': 'isc','event_label': 'click'});
            }else{
                gtag('event', 'linkout_isc2', {'event_category': 'isc','event_label': 'click'});

            }
            window.location = 'https://zh.ishopchangi.com/?utm_source=wechat&utm_medium=social&utm_campaign=pregoldenweek&utm_content=isc_cn%20%E2%80%93%20to%20confirm,%20only%20one%20cta%20link%20required%20that%20always%20leads-out%20from%20the%2010%%20off%20iSC%20voucher%20right?'
        },
        showQrcode(flag){
            this.showQR = flag;
            if(flag){
                gtag('event', 'linkout_wechat1', {'event_category': 'isc','event_label': 'click'});
            }
        }, 
        gameOver(){
            flowContainer.destroy();
            fixedContainer.destroy(); 
        },
        closeBGM(){
            if(this.isplay){
                this.isplay = false
                document.getElementById('_bgm').pause();
            }else{
                this.isplay = true
                document.getElementById('_bgm').play();
            }

        }     
    },
    watch: {
        goodsCount(newVal,oldVal){
            if(newVal == 5){ 
                window.cancelAnimationFrame(pointDown)
                clearInterval(CLOCKTimer)
                let obj = new Object()
                obj.openId = this.userInfo.openid
                obj.nickName = this.userInfo.nickname
                obj.headUrl = this.userInfo.headimgurl
                obj.shoppingList = this.userCheck.substring(0,this.userCheck.length - 1)
                obj.gameTime = `00:${this.minute}:${this.seconds}`;;
                console.log("成功了")
                this._save(obj,'success')
                gtag('config', 'UA-146234417-1', {   'page_title': 'isc_pv10', }); 
            }
        },
        totalSeconds(newVal,oldVal){
            if(newVal == 180){
                window.cancelAnimationFrame(pointDown)
                clearInterval(CLOCKTimer)
                console.log("失败了")
                let obj = new Object()
                obj.openId = this.userInfo.openid
                obj.nickName = this.userInfo.nickname
                obj.headUrl = this.userInfo.headimgurl
                obj.shoppingList = this.userCheck.substring(0,this.userCheck.length - 1)
                obj.gameTime = `00:${this.minute}:${this.seconds}`;
                this._save(obj,'timeover')
                gtag('config', 'UA-146234417-1', {   'page_title': 'isc_pv9', });
            }
        }
    },
    computed: {},
    };
</script>
<style lang="less" scoped>
.gamepopup{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0 , 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        width: 50%;
    }

}
.hLoading{
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ffca36;
    z-index: 9999;
    transform: rotate(90deg);
    transform-origin:0 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #56300b;
    font-weight: 700;
    .loading-1{
        width: 80%;
    }
    .processbg{
        width: 60%;
        height: 0.25rem;
        background: #ffdd82;
        border: 1px solid #ffeab6;
        border-radius: 0.3rem;
        .bar{
            width: 100%;
            height: 100%;
            background: #ffca37;
            border-bottom: 2px solid #eea215;
            border-left: 2px solid #eea215;
            border-radius: 0.3rem;
        }
    }
    .popmain{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        width: 75%;
        height: 6rem;
        background: url(../../static/img/popbg.png) no-repeat;
        background-size: 100% 100%;
        
        .startbtn{
            position: absolute;
            width: 4.5rem;
            height: 1rem;
            bottom: -0.5rem;
            left: 50%;
            transform: translate(-50%)
        }
        .icpop{
            width: 5rem;
            height: 2rem;
            background: url(../../static/img/v/ic-cupon.png) no-repeat;
            background-size: 100% 100%;
            position: relative;
             p{
                position: absolute;
                top: 56%;
                left:10%;
                // left: 3.3rem;
                // top: 3.3rem;
                font-size: 0.3rem;
            }
        }
        .jiantou{
            position: absolute;
             width: 1.5rem;
             height: 0.7rem;
             top: 1.3rem;
             left: 0.7rem;
        }
        .timeover{
            width: 100%;
        }
        .gohome{
             position: absolute;
             width: 1rem;
             height: 1rem;
             top: 0.15rem;
             left: 0.15rem;
        }
       
    }
}
.test{
    width: 100px;
    height: 100px;
    background: url(../../static/img/goods/2.png) no-repeat;

}
#gameBox{
    width: 100%;
    height: 100%;
}
.fixedmusic{
    position: fixed;
    bottom: 0.5rem;
    right: 0.5rem;
    z-index: 9;
    .play{
        width: 1rem;
        height: 1rem;
        animation: myrotate  10s infinite linear;
    }
     .close{
        width: 1rem;
        height: 1rem;
    }
}
    .fixedTime{
        position: fixed;
        top: 0;
        right: 0;
        z-index: 9;
        display: flex;
        flex-direction: row;
        line-height: 30px;
        font-size: 20px;
        width: 2.2rem;
        flex-wrap: wrap;
        transform: rotate(90deg) translate3d(20%, 10%, 0);
        .countbg{
            width: 2.2rem;
            height: 0.8rem;
            line-height: 0.7rem;
            background: rgba(0, 0, 0, 0.7);
            font-size: 20px;
            color: #ffecb4;
            font-weight: 700;
            text-align: center;
            border: 2px solid #f8d5a2;
            border-radius: 0.4rem;
            padding-left:0.7rem; 
            position: relative;
            margin-bottom: 0.2rem;
            img{
                width: 0.9rem;
                height: 0.9rem;
                position: absolute;
                top: -0.1rem;
                left: -0.1rem;
            }
        }
    }
</style>