<template>
       <div class="bgbox">
            <div class="top-wrapper">
                <div>
                    <p class="timer">12356789</p>
                </div>
            </div>
            <div class="wrapper" ref="wrapper">
                <div class="scroll-box">
                    <!-- <img src="../../static/img/bg-none.png" @load="loadImage" alt=""> -->
                    <div class="box"></div>
                </div>
            </div>
       </div>
</template>

<script>
import BScroll from 'better-scroll'
export default {
    data(){
        return{
            
        }
    },
    mounted(){
        this.initScorll()
        let ww ,wh
        ww = document.body.clientWidth;
        wh = document.body.clientHeight;
        console.log('ww----'+ ww + 'wh-------' + wh)
    },
    methods:{
        // loadImage(){
        //     this.initScorll()
        // },
        initScorll(){
            this.$nextTick(() => {
                this.itemScroll = new BScroll(this.$refs.wrapper, {
                    probeType: 3,//允许实时监听 scroll
                    freeScroll: true,
                    scrollX:true,
                    click: true,
                    useTransition:false,  // 防止iphone微信滑动卡顿
                    bounce:false,//当滚动超过边缘的时候会有一小段回弹动画。设置为 true 则开启动画。
                    tap:true
                })
                this.$refs.wrapper.addEventListener('click',(e)=>{
                    console.log(e)
                },false)
                
            })
        }, 
    }
}
</script>

<style lang="less">
.bgbox{
    width: 100%;
    height: 100%;
}
.top-wrapper{
    position: fixed;
    top:0;
    right: 0;
    bottom: 0;
    width: 1rem;
    background: rgba(0,0,0,0.4);
    z-index: 99999;
    color: #ffffff;
   
}
.timer{
    position: absolute;
    bottom: 0;
    transform: rotate(90deg) translate(-95%, -134%);
    transform-origin: 0 0;
    font-size: 20px;
}
.wrapper{
    width: 100%;
    height: 100%;
    
    .scroll-box{
        width: 2500px;
        height: 1334px;
        background: url(/static/img/bg-none.png);
        position: relative;
    }
    .box{
      border: 1px solid red;
      width: 100px;
      height: 100px;
      position: absolute;
      left: 300px;
      top: 300px
    }
}

</style>
