<template>
  <div class="boxx">
      <img class="iachieve" @click="goIachieve" src="../../static/img/v/iachieve.png" alt="">
      <!-- <img class="homebg" src="../../static/img/v/homebg.png" alt=""> -->
      <img class="homebtn" @click="chooseRole(1)" src="../../static/img/v/homebtn.png" alt="">

      <div class="popup" v-if="showpop" @click="closePop">
          <div class="popmain" v-if="popStyle == 1"  @click.stop>
              <img class="noachieve" src="../../static/img/v/noachieve.png" alt="">
              <img class="startbtn" @click="chooseRole(2)" src="../../static/img/v/startbtn.png" alt="">
          </div>
          <div class="popmain" v-if="popStyle == 2" >
              <img class="share noachieve" src="../../static/img/v/share.png" alt="">
          </div>
          <div class="popmain" v-if="popStyle == 3"  @click.stop>
              <div class="nochance">
                    <span>抱歉，分享机会也用完了<br/>明天再来玩吧，好礼还会等你～</span>
               </div>
              <img class="alert" src="../../static/img/alertbg.png" alt="">
              <img class="close"  @click="closePop" src="../../static/img/v/close.png" alt="">
          </div>
      </div>
  </div>
</template>

<script>
import {getGameTimes,getShareTimes,getBest} from '@/apis'

let ww ,wh
export default {
  components: {},
  props: {},
  data() {
    return {
      showpop:false,
      userInfo:JSON.parse(localStorage.getItem("userInfo")),
      popStyle:0//1 没有成绩  2 今日游戏次数用完 显示去分享  3分享次数用完
 
    };
  },
  created() {},
  mounted() { 
  
        //  横屏
        // ww = document.body.offsetWidth;
        // wh = document.body.offsetHeight;
        // this.$refs.boxx.style.width = wh + 'px'
        // this.$refs.boxx.style.height = ww + 'px'
        // this.$refs.boxx.style.marginLeft = `${ww}px`
  },
  methods:{
    chooseRole(flag){
        this._getGameTimes()
        if(flag == 1){
            gtag('event', 'play1', {'event_category': 'isc','event_label': 'click'});
        }else{
            gtag('event', 'play2', {'event_category': 'isc','event_label': 'click'});
        }
    },
    closePop(){
      this.showpop = false
    },
    goIachieve(){
      this.$dialog.loading.open();
      getBest(this.userInfo.openid).then(res =>{
        console.log(res.data)
        this.$dialog.loading.close();
        if(res.data.data == null){
          this.showpop = true
          this.popStyle = 1
        }else{
          this.$router.push('/iachieve')
          gtag('event', 'score', {'event_category': 'isc','event_label': 'click'})
        }
      })
      
    },
    _getGameTimes(){
      this.$dialog.loading.open();
      getGameTimes(this.userInfo.openid).then(res =>{
        console.log(res.data)
        if(res.data.remainingNum > 0){
           this.$dialog.loading.close();
           this.$router.push('/choose')
          
        }else{
           //今日次数已用完
            getShareTimes(this.userInfo.openid).then(res =>{
              console.log(res.data.SharableNumber)
              this.$dialog.loading.close();
              if(res.data.SharableNumber > 0){
                //可分享 
                  this.showpop = true
                  this.popStyle = 2
                  gtag('config', 'UA-146234417-1', {   'page_title': 'isc_pv1', })
              }else{
                //不可分享 
                  this.showpop = true
                  this.popStyle = 3
                  gtag('config', 'UA-146234417-1', {   'page_title': 'isc_pv2', }); 
              }
            })
        }
      })
    }
  }
};
</script>
<style lang="less" scoped>

    .boxx{
        // transform: rotate(90deg);
        // transform-origin:0 0;
        // position: absolute;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background: url(../../static/img/v/homebg.png) no-repeat;
        background-size: cover;
    }
    .homebg{
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
    }
    .iachieve{
      position: absolute;
      right: 10px;
      top: 15px;
      width: 2.5rem;
      z-index: 2;
    }

    .homebtn{
      position: absolute;
      left: 50%;
      transform: translate(-50%,0);
      width: 6rem;
      top: 9.5rem;
       z-index: 2;
       
    }

   
 
</style>