<template>
  <div class="iachievebg">
        <img class="tktl" @click="isshowTKTL(true)" src="../../static/img/v/tktl.png" alt="">
        <div class="box">
            <div class="headerImgBox">
                <img :src="gameInfo.HeadUrl" alt="">
            </div>
            <span class="nickname">{{gameInfo.NickName}}</span>
            <div class="topbg">
                <div>
                    排名：<span>{{gameInfo.Rank}}</span>
                </div>
                <div>
                    用时：<span>
                        {{Minutes}}:{{Seconds}}</span>
                </div>
            </div>
            <span class="phb" @click="ishowPop(true)">查看完成排行榜</span>
            <span class="goOut2" @click="showQrcode(true)">
                关注微信 <img class="point" src="../../static/img/point.png" alt="">
            </span> 
            <div class="text">
                每周手速前10的玩家都能得到购物单中的产品1件<br/>
                中奖名单每周二公布于新加坡樟宜机场官方微信<br/>别错过哦！
            </div>
            <span class="Title">专属优惠券</span>
            <div class="ic-cupon">
                <span class="code">CHANGIRACE10</span>
                <img src="../../static/img/v/ic-cupon.png" alt="">
            </div>
            <span class="gouse">快去使用吧&nbsp;&nbsp;<img  src="../../static/img/gouse.png" alt=""></span>
            <img @click="goshop()" class="goshop"  src="../../static/img/v/goshop.png" />
        </div>
        <div class="phbpop" v-show="showphb"  @click="ishowPop(false)">
            <div class="popmain" @click.stop>
                <img class="top10" src="../../static/img/v/top10.png" alt="">
                我的排名
                <div class="myrank ranklist">
                    <span>{{gameInfo.Rank}}</span>
                    <div>
                        <div class="headImg">
                            <img :src="gameInfo.HeadUrl" alt="">
                        </div>
                        <span>&nbsp;&nbsp;{{gameInfo.NickName}}</span>
                    </div>
                    <span>{{Minutes}}:{{Seconds}}</span>
                </div>
                <br/>
                TOP10
                <div class="rankTitle">
                    <span>排名&nbsp;▾</span>
                    <span>玩家&nbsp;▾</span>
                    <span>记录&nbsp;▾</span>
                </div>
                <div class="Rank">
                    <div ref="scorllRank" class="scorllRank">
                        <div ref="content">
                            <div class="toprank ranklist" v-for="(item,index) in rankList" :key="index"> 
                                <span>{{item.Rank}}<span v-show="index == 0" class="f-12">ST</span><span v-show="index == 1" class="f-12">ND</span><span v-show="index == 2" class="f-12">RD</span>
                                </span>
                                <div>
                                    <div class="headImg">
                                        <img :src="item.HeadUrl" alt="">
                                    </div>
                                    <span>&nbsp;&nbsp;{{item.NickName}}</span>
                                </div>
                                <span>{{item.Minutes}}:{{item.Seconds}}</span>
                            </div> 
                        </div>
                    </div>
                    <div class="scrollbg" ref="scrollbg">
                        <div class="bar"  ref="bar"></div>
                    </div>
                </div>
                <img @click="goHome()" class="go10" src="../../static/img/v/go10.png" alt="">
            </div>
        </div>
        <div class="popup" v-if="showQR" @click="showQrcode(false)" >
            <img @click.stop class="qrcode" src="../../static/img/qrcode.png" alt="">
        </div>
        <div class="popup" v-if="showTKTL">
            <div class="popmain">
                <div class="tktlbox">
                    <img class="tktltop" src="../../static/img/tktltop.png" alt="">
                    <div class="tl" ref="tl">
                        <img @load="loadImg()" src="../../static/img/tktlmain2.png" alt="">
                    </div>
                </div>
                <img @click="isshowTKTL(false)" class="closetl" src="../../static/img/v/close.png" alt="">
            </div>
        </div>
  </div>
</template>

<script>
import BScroll from 'better-scroll'
import {getBest,getTop10} from '@/apis'

export default {
  data() {
    return {
        showphb:false,
        userInfo:JSON.parse(localStorage.getItem("userInfo")),
        gameInfo:'',
        Minutes:'',
        Seconds:'',
        rankList:[],
        showQR:false,
        tktlScroll:'',
        showTKTL:false
    };
  },
  created() {},
  mounted() {  
     this._getBest()
     this.initScorll()
     this._getTop10()
     gtag('config', 'UA-146234417-1', {   'page_title': 'isc_pv11', }); 
  },
  methods: {
      initScorll(){
            this.$nextTick(() => {
                let barH = this.$refs.scrollbg.offsetHeight - this.$refs.bar.offsetHeight;//bar一共要滚动的距离
                let scrollH = this.$refs.content.offsetHeight - this.$refs.scorllRank.offsetHeight;//里面内容一共要滚动的距离
                let abs = scrollH / barH
                this.itemScroll = new BScroll(this.$refs.scorllRank, {
                    probeType: 3,//允许实时监听 scroll
                    freeScroll: true,
                    scrollX:true,
                    click: true,
                    useTransition:false,  // 防止iphone微信滑动卡顿
                    bounce:false,//当滚动超过边缘的时候会有一小段回弹动画。设置为 true 则开启动画。
                    tap:true
                })
                this.itemScroll.on('scroll', pos => {
                    let scrollY = Math.abs(Math.floor(pos.y))
                    this.$refs.bar.style.marginTop = `${scrollY / abs}px`

                }) 
                
            })
        }, 
      goHome(){
          gtag('event', 'play_again', {'event_category': 'isc','event_label': 'click'});
          this.$router.push('/home')
      },
      //查看完成排行榜
    ishowPop(flag){
        this.showphb = flag
        if(flag){
            gtag('event', 'rank', {'event_category': 'isc','event_label': 'click'});
            gtag('config', 'UA-146234417-1', {   'page_title': 'isc_pv12', }); 
        }
    },
    showQrcode(flag){
        this.showQR = flag;
        if(flag){
            gtag('event', 'linkout_wechat2', {'event_category': 'isc','event_label': 'click'});
        }
    },
    isshowTKTL(flag){
        this.showTKTL = flag;
    },
    goshop(){
        gtag('event', 'linkout_isc3', {'event_category': 'isc','event_label': 'click'});
        window.location = 'https://zh.ishopchangi.com/?utm_source=wechat&utm_medium=social&utm_campaign=pregoldenweek&utm_content=isc_cn%20%E2%80%93%20to%20confirm,%20only%20one%20cta%20link%20required%20that%20always%20leads-out%20from%20the%2010%%20off%20iSC%20voucher%20right?'
    },
    _getBest(){
        getBest(this.userInfo.openid).then(res =>{
            console.log(res.data)
            this.gameInfo = res.data.data
            this.Minutes = res.data.data.GameTime.Minutes < 10 ? `0${res.data.data.GameTime.Minutes}` : res.data.data.GameTime.Minutes
            this.Seconds = res.data.data.GameTime.Seconds < 10 ? `0${res.data.data.GameTime.Seconds}` : res.data.data.GameTime.Seconds
            this.$dialog.loading.close();          
        })
    },
    _getTop10(){
        getTop10().then(res=>{
            res.data.data.forEach(item =>{
                item.Minutes = item.GameTime.Minutes < 10 ? `0${item.GameTime.Minutes}` : item.GameTime.Minutes
                item.Seconds = item.GameTime.Seconds < 10 ? `0${item.GameTime.Seconds}` : item.GameTime.Seconds
            })
            this.rankList = res.data.data
            console.log(this.rankList)
        })
    },
    loadImg(){
        this.$nextTick(() => {
            this.tktlScroll = new BScroll(this.$refs.tl, {
                probeType: 3,//允许实时监听 scroll
                freeScroll: true,
                scrollX:true,
                click: true,
                useTransition:false,  // 防止iphone微信滑动卡顿
                bounce:true,//当滚动超过边缘的时候会有一小段回弹动画。设置为 true 则开启动画。
                tap:true
            })    
        })
    }
  },
  watch: {
      showphb(newVal,oldVal){
          if(newVal){
              this.initScorll()
          }
      }
  },
  computed: {},
};
</script>
<style lang="less" scoped> 
.closetl{
    position: absolute;
    bottom: -0.4rem;
    width: 1rem;
    height: 1rem;
    left: 50%;
    transform: translate(-50%)
}
.tktlbox{
    width: 6.5rem;
    height: 9.5rem;
    background: url(../../static/img/v/boxbg.png) no-repeat;
    background-size: 100% 100%;
    overflow-y: scroll;
    padding-top: 0.5rem;
    .tktltop{
        width: 100%;
        margin-bottom: 0.2rem;
    }
    .tl{
        width: 6.5rem;
        height: 6.7rem;
        padding: 0.3rem;
        overflow:hidden;
        img{
            width: 100%
        }
    }
}
.qrcode{
    width: 90%;
}
.Rank{
    width: 100%;
    margin-top: 0.1rem;
    .scorllRank{
        width: 90%;
        height: 4.6rem;
        overflow-y: hidden;
        float: left;
    }
    .scrollbg{
        width: 10px;
        height: 4.6rem;
        background: #f9efd8;
        float: left;
        margin-left: 10px;
        border-radius: 6px;
        .bar{
            width: 100%;
            height: 1rem;
            background: #fec532;
            border-radius: 6px;
        }
    }
}
.goOut2{
    font-size: 0.32rem;
    color: #56300b;
    border-bottom: 1px solid #56300b;
    padding-bottom: 1px;
    font-weight: 700;
    margin: 0.24rem 0 0.16rem 0;
    
}
.point{
    width: 0.4rem;
}
.gouse{
    font-size: 0.26rem;
    font-weight: 700;
    color: #56300b;
    display: flex;
    margin-top: 0.05rem;
    img{
        width: 0.3rem;
        height: 0.4rem;
        margin-top: 0.12rem;
    }
}
     
    .ranklist{
        width: 100%;
        height: 1rem;
        border-radius: 6px;
        display: flex;
        flex-direction: row;
        line-height: 1rem; 
        :first-child{
            flex: 1;
            text-align: center;
            font-size: 0.5rem;
            font-weight: 700;
        };
        :nth-child(2){
            flex: 3;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis; 
            span{font-size: 0.28rem;}
            .headImg{
                width: 0.8rem;
                height: 0.8rem;
                margin-top: 0.08rem;
                float: left;
                img{
                    width: 100%;
                    height: 100%;
                    // border-radius: 50%;
                }
            }
        }
        :last-child{
            flex: 2;
            text-align: center;
            font-size: 0.5rem;
        }
    }
    .myrank{
        background: #fec432;
        border-top:2px solid #e1b11d;
        border-left:2px solid #e1b11d;
    }
    .toprank{  
        background: #f9ebc5;
        border-top:2px solid #ecd9a6;
        border-left:2px solid #ecd9a6;
        margin-bottom: 0.1rem;    
    }
    .rankTitle{
        display: flex;
        :first-child{
            flex: 1;
        };
        :nth-child(2){
            flex: 3;
        }
        :last-child{
            flex: 1;
        }
    }
  
    .phbpop{
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: rgba(0, 0 , 0, 0.8);
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 999;
      .popmain{
        position: relative;
        width: 7rem;
        height: 9rem;
        background: url(../../static/img/v/boxbg.png) no-repeat;
        background-size: 100%  100%;
        position: relative;
        padding: 1rem 0.6rem;
        color: #56300b;
        .top10{
            position: absolute;
            top: -1rem;
            width: 3rem;
            left: 50%;
            transform: translate(-50%)
        }
        .go10{
            position: absolute;
            bottom: -0.5rem;
            width: 4.5rem;
            height: 1rem;
            left: 50%;
            transform: translate(-50%)
        }
      }
    }
 .box{
    width: 7rem;
    height: 9rem;
    background: url(../../static/img/v/boxbg.png) no-repeat;
    background-size: 100%  100%;
    margin: 0 auto;
    margin-top: 1.2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #56300b;
    position: relative;
    .nickname{
        font-size: .35rem;
        line-height: 0.7rem;
        font-weight: 700;
    }
    .topbg{
        width: 6rem;
        height: 1rem;
        line-height: 1rem;
        background: url(../../static/img/v/topbg.png) no-repeat;
        background-size: 100% 100%;
        display: flex;
        flex-direction: row;
        font-size: .35rem;
        font-weight: 700;
        div{
            flex: 1;
            text-align: center;
            span{
                font-size: .5rem;
                color: #971500;
            }
        }
    }
    .phb{
        font-size: 0.26rem;
        color: #56300b;
        border-bottom: 1px solid #56300b;
        padding-bottom: 1px;
        font-weight: 500;
        margin: 6px;
    }
    .Title{
        font-size: 0.36rem;
        font-weight: 700;
        margin-bottom: 0.1rem;
    }
    .ic-cupon{
        width: 4.5rem;
        position: relative;
        .code{
            position:absolute;
            font-weight: 700;
            top: 0.9rem;
            left: 0.4rem;
            font-size: 0.28rem;
        }
        img{
            width: 100%;
        }
    }
    .text{
        width: 100%;
        padding: 0 0.4rem;
        font-size: 0.28rem;
        font-weight: 500;
        box-sizing: border-box;
        text-align: center;
        margin-bottom: 0.3rem;
    }
   
    .goshop{
        width: 4rem;
        height: 0.9rem;
        position: absolute;
        bottom: -0.45rem;
        left: 50%;
        transform: translate(-50%)
    }
}
.iachievebg{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: url(../../static/img/v/iachievebg.png) top;
    background-size: cover;
}
 .tktl{
      position: absolute;
      right: 17px;
      top: 20px;
      width: 1.7rem;
      z-index: 2;
    }
   
    .headerImgBox{
        width: 1.7rem;
        height: 1.7rem;
        background: url(../../static/img/v/headerImgbg.png) no-repeat;
        background-size: 100%  100%;
        margin-top: -0.85rem;
        padding: 0.1rem;
        img{
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }
    }
</style>