<template>
    <div class="loadbg">
      <img class="loadbgimg" src="../../static/img/loading/loadingbg.png" alt="">
      <div class="probg">
          <img ref="rolebar" class="rolebar" src="../../static/img/loading/rolebar.png" alt="">
          <img class="ishop" src="../../static/img/loading/ishop.png" alt="">
      </div>
    </div>
</template>

<script>
let imgArr = [
  "../../static/img/good/1.png",
  "../../static/img/good/2.png",
  "../../static/img/good/3.png",
  "../../static/img/good/4.png",
  "../../static/img/good/5.png",
  "../../static/img/good/6.png",
  "../../static/img/good/7.png",
  "../../static/img/good/8.png",
  "../../static/img/good/9.png",
  "../../static/img/good/10.png",
  "../../static/img/good/11.png",
  "../../static/img/good/12.png",
  "../../static/img/good/13.png",
  "../../static/img/good/14.png",
  "../../static/img/good/15.png",
  "../../static/img/good/16.png",
  "../../static/img/good/17.png",
  "../../static/img/good/18.png",
  "../../static/img/good/19.png",
  "../../static/img/good/20.png",
  "../../static/img/good/21.png",
  "../../static/img/good/22.png",
  "../../static/img/good/23.png",
  "../../static/img/good/24.png",
  "../../static/img/good/25.png",
  "../../static/img/good/26.png",
  "../../static/img/good/27.png",
  "../../static/img/good/28.png",
  "../../static/img/good/29.png",
  "../../static/img/good/30.png",
  "../../static/img/goods/1.png",
  "../../static/img/goods/2.png",
  "../../static/img/goods/3.png",
  "../../static/img/goods/4.png",
  "../../static/img/goods/5.png",
  "../../static/img/goods/6.png",
  "../../static/img/goods/7.png",
  "../../static/img/goods/8.png",
  "../../static/img/goods/9.png",
  "../../static/img/goods/10.png",
  "../../static/img/goods/11.png",
  "../../static/img/goods/12.png",
  "../../static/img/goods/13.png",
  "../../static/img/goods/14.png",
  "../../static/img/goods/15.png",
  "../../static/img/goods/16.png",
  "../../static/img/goods/17.png",
  "../../static/img/goods/18.png",
  "../../static/img/goods/19.png",
  "../../static/img/goods/20.png",
  "../../static/img/goods/21.png",
  "../../static/img/goods/22.png",
  "../../static/img/goods/23.png",
  "../../static/img/goods/24.png",
  "../../static/img/goods/25.png",
  "../../static/img/goods/26.png",
  "../../static/img/goods/27.png",
  "../../static/img/goods/28.png",
  "../../static/img/goods/29.png",
  "../../static/img/goods/30.png",

  "../../static/img/loading/loading-1.png",
  "../../static/img/loading/loading-2.png",

  "../../static/img/other/7.png",
  "../../static/img/other/airport.png",
  "../../static/img/other/butterfly.png",
  "../../static/img/other/butterflygarden.png",
  "../../static/img/other/cactus.png",
  "../../static/img/other/chair.png",
  "../../static/img/other/CHANG.png",
  "../../static/img/other/childpark.png",
  "../../static/img/other/CINEMA.png",
  "../../static/img/other/cocoa.png",
  "../../static/img/other/dove.png",
  "../../static/img/other/fishpond.png",
  "../../static/img/other/foodstreet.png",
  "../../static/img/other/free.png",
  "../../static/img/other/garden.png",
  "../../static/img/other/garden1.png",
  "../../static/img/other/garden2.png",
  "../../static/img/other/ishop.png",
  "../../static/img/other/libin.png",
  "../../static/img/other/MAC.png",
  "../../static/img/other/minitoons.png",
  "../../static/img/other/orchid.png",
  "../../static/img/other/rain.png",
  "../../static/img/other/slide.png",
  "../../static/img/other/sony.png",
  "../../static/img/other/statue.png",
  "../../static/img/other/sunflower.png",
  "../../static/img/other/swimmingpool.png",
  "../../static/img/other/talk.png",
  "../../static/img/other/train1.png",
  "../../static/img/other/train2.png",
   "../../static/img/other/traveler.png",
  "../../static/img/other/tumi.png",
  "../../static/img/other/VS.png",
  "../../static/img/other/xingbake.png",

  "../../static/img/role/bottom-f.png",
  "../../static/img/role/left-f.png",
  "../../static/img/role/right-f.png",
  "../../static/img/role/top-f.png",
  "../../static/img/role/top.png",
  "../../static/img/role/bottom.png",
  "../../static/img/role/left.png",
  "../../static/img/role/right.png",

  "../../static/img/shop/BEECHENGHIANG.png",
  "../../static/img/shop/BENGAWANSOLO.png",
  "../../static/img/shop/CHARLESANDKEITH.png",
  "../../static/img/shop/DFS.png",
  "../../static/img/shop/DiscoverSingapore.png",
  "../../static/img/shop/EuYanSang.png",
  "../../static/img/shop/Fragrance.png",
  "../../static/img/shop/Godiva.png",
  "../../static/img/shop/Irvins.png",
  "../../static/img/shop/iStudio.png",
  "../../static/img/shop/JoMalone.png",
  "../../static/img/shop/shilla.png",
  "../../static/img/shop/SPRINT.png",
  "../../static/img/shop/Swarovski.png",
  "../../static/img/shop/THECOCOATREES.png",
  "../../static/img/shop/TWG.png",
  "../../static/img/shop/Waston.png",

  "../../static/img/v/border.png",
  "../../static/img/v/boxbg.png",
  "../../static/img/v/check.png",
  "../../static/img/v/close.png",
  "../../static/img/v/createlist.png",
  "../../static/img/v/female-n.png",
  "../../static/img/v/female.png",
  "../../static/img/v/go10.png",
  "../../static/img/v/goshop.png",
  "../../static/img/v/headerImgbg.png",
  "../../static/img/v/homebg.png",
  "../../static/img/v/homebtn.png",
  "../../static/img/v/ic-cupon.png",
  "../../static/img/v/iknow.png",
  "../../static/img/v/male-n.png",
  "../../static/img/v/male.png",
  "../../static/img/v/next.png",
  "../../static/img/v/noachieve.png",
  "../../static/img/v/nochance.png",
  "../../static/img/v/share.png",
  "../../static/img/v/shopicon.png",
	"../../static/img/v/startbtn.png",
	"../../static/img/v/timeicon.png",
  "../../static/img/v/tktl.png",
  "../../static/img/v/top10.png",
	"../../static/img/v/topbg.png",
  "../../static/img/v/yxgz.png",
  
  "../../static/img/plus5s.png",
  "../../static/img/sub5s.png",
  "../../static/img/alertbg.png",
  "../../static/img/bottom.png",
  "../../static/img/circle.png",
  "../../static/img/left.png",
  "../../static/img/right.png",
  "../../static/img/top.png",
  "../../static/img/road2.png",
  "../../static/img/gohome.png",
  "../../static/img/jiantou.png",
  "../../static/img/popbg.png",
  "../../static/img/qrcode.png",
  "../../static/img/tktltop.png",
  "../../static/img/tktlmain2.png",
  "../../static/img/v/1.gif"
] 
export default {
  components: {},
  props: {},
  data() {
    return {
    };
  },
  created() {},
  mounted() {
   
      //load an image and run the `setup` function when it's done
      //预加载
      let loader = new PIXI.loaders.Loader();
      loader.add(imgArr)
          .onProgress.add((e)=>{
          this.$refs.rolebar.style.left = `${e.progress * 83/100}%`
      });
      loader.load(()=>{
        this.$router.push("/home")
      });//图片素材加载完毕执行setup（）
  },
  methods: {},
  watch: {},
  computed: {},
};
</script>
<style lang="less" scoped>
.loadbg{
  width: 100%;
  height: 100%;
  overflow: hidden;
  .loadbgimg{
     width: 100%;
     margin-top: 40%;
  }
  .probg{
    position: relative;
    margin: 0 auto;
    margin-top: -63%;
    // flex-grow:0;
    // flex-shrink:0;
    width: 5.5rem;
    height: 0.5rem;
    background: url(../../static/img/loading/road.png) no-repeat;
    background-size: 100% 100%;
    .ishop{
      position: absolute;
      top: -1.1rem;
      right: 0.2rem;
      width: 2rem;
    }
    .rolebar{
      position: absolute;
      width: 1rem;
      top: -0.55rem;
      z-index: 2
    }
  }
}
</style>