<template>
  <div></div>
</template>

<script>
export default {
  components: {},
  props: {},
  data() {
    return {
    };
  },
  created() {},
  mounted() {},
  methods: {},
  watch: {},
  computed: {},
};
</script>
<style lang="less" scoped>
</style>