<template>
  <div id="app">
      <audio  loop="loop" id="_bgm"  src="../../static/mp3/bgm.mp3">
      您的浏览器不支持 audio 标签。</audio>
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'App',
  created(){
      var ua = navigator.userAgent.toLowerCase();
      var isWeixin = ua.indexOf('micromessenger') != -1 ? true : false;
      //在微信浏览器下调取微信授权接口
      if(isWeixin){
        if(location.href.indexOf("openid") == -1){
            window.location = `https://iscgoldenweek.gypserver.com/server/OAuth?siteurl=${escape(location.href)}`
        }else{
          var Request = new Object();
          Request = this.GetRequest();//拿到当前路径参数
          localStorage.setItem('userInfo',JSON.stringify(Request))
          console.log('路径所有参数'+JSON.stringify(Request))
          //授权过后
          this.$router.push({path: '/loading'})
        }
     }else{
      //                           测试    TODO
      //  localStorage.setItem('userInfo',JSON.stringify(
      //    {
      //    "openid":"osI8As_Mshp7V68_NIh39YPj-Y3w",
      //    "nickname":"zhou",
      //    "province":"江苏",
      //    "city":"徐州",
      //    "country":"中国",
      //    "sex":"1",
      //    "headimgurl":"http://thirdwx.qlogo.cn/mmopen/vi_32/ZccFBM9wqKUMt0tP43CB0YYiaQavOSKZI7jB4AySzqHlZ5QTXPG0fw0RUJ6YkLeho9YNuiaYTg61gsL02jbSEGrQ/132#/"}
      //  ))
      //  this.$router.push({path: '/loading'})
     }
  },
  methods:{
     //获取链接后面的所有参数
     GetRequest() {
        var url = location.href; 
        var theRequest = new Object();
        if (url.indexOf("?") != -1) {
          var str = url.split("?")
          str.forEach(item =>{
            if(item.indexOf('&') != -1){
              var  strs = item.split("&");
              for(var i = 0; i < strs.length; i ++) {
                theRequest[strs[i].split("=")[0]] = decodeURIComponent(strs[i].split("=")[1]);
              }
            }
            
          })
         
        }
        return theRequest;
      }
  }
}
</script>

<style lang="less">
*{
  margin: 0;
  padding: 0;
}
html, body, #app {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #ffca36;
    font-size: 14px;
}
.f-10{
      font-size: 0.20rem!important;
  }
 .f-12{
      font-size: 0.28rem!important;
  }
  .f-20{
      
      font-size: 0.4rem!important;
  }
   .f-18{ 
      font-size: 0.36rem!important;
  }
  .f-30{
    font-size: 0.6rem;
  }
  .fs-italic{
    font-style: italic
  }
  .c-red{
    color:#bf0000
  }
  .c-000{
    color:#000000
  }
   .goOut{
        font-size: 0.3rem;
        color: #b10000;
        border-bottom: 1px solid #b10000;
        padding-bottom: 1px;
        font-weight: 700;
        margin: 10px;
    }
  .popup{
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: rgba(0, 0 , 0, 0.8);
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 999;
      .popmain{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 100%;
        .alert{
            width: 82%;
        }
        .close{
            position: absolute;
            width: 1rem;
            height:1rem;
            bottom: 0px;
            left: 50%;
            transform: translate(-50%)
        }
         .yxgz{
            width: 90%;
        }
        .startbtn{
            position: absolute;
            width: 50%;
            height: 0.8rem;
            bottom: -0.4rem;
            left: 50%;
            transform: translate(-50%)
        }
        .alerttitle{
            position: absolute;
            width: 100%;
            top: 25%;
            text-align: center;
            font-size: 0.4rem;
            color: #56300b;
            font-weight: 700;
            left: 50%;
            transform: translate(-50%);
            
        }
        .nochance{
            position: absolute;
            width: 100%;
            top: 25%;
            text-align: center;
            font-size: 0.4rem;
            color: #000000;
            font-weight: 700;
            line-height: 0.8rem;
            left: 50%;
            transform: translate(-50%)
        }
         .noachieve{
          width: 90%;
        }
         .share{
          margin-top: -7.5rem;
        }
      }
      
  }
   /* 旋转 */
    
    @-webkit-keyframes myrotate {
        100% {
            transform: rotate(360deg);
        }
    }
    
    @keyframes myrotate {
        100% {
            transform: rotate(360deg);
        }
    }
</style>
